<div class="reviews-section">
    <h3 class="section-header">Ревюта</h3>
    <div class="container">
        <div class="reviews-container">
            <!-- <Swiper
                modules={[Navigation]}
                navigation={isTablet}
                spaceBetween={20}
                slidesPerView={1}
                {...{ breakpoints }}
                loop
            >
                {REVIEWS.map((review, index) => (
                    <SwiperSlide key={index} class="slide">
                        <div class="rating"><span>Rating:</span> {showRating(review.rating)}</div>
                        <p class="reviewer-text">{review.text}</p>
                        <div class="reviewer">
                            <img src={review.reviewer_avatar}></img>
                            <p>{review.reviewer}</p>
                        </div>
                    </SwiperSlide>
                ))}
            </Swiper>  CHECK SWIPER -->
        </div>
    </div>
</div>