@use "../../../variables.scss";

.customer-care-section {
    @extend %layout;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1024px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

