<div class='intro-section'>
    <div class='banner-container'>
        <div class='slide-content'>
            <div class='content-container'>
                    <img src='assets/logotransperent.png' alt='logoBig' class='logo-big' />
                    <h2>
                        <p>
                           Вашето доверено място за отлично обслужване на автомобила.
                        </p>
                    </h2>
                <button class='intro-button'>
                    <p>Запази Час</p>
                </button>
            </div>
        </div>
    </div>
</div>