@use '../../../variables.scss';

.services-section {
    @extend %layout;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    max-height: calc(100% - 100px);
    color: variables.$color-main;
    padding-left: 115px;

    .content {
        display: grid;
        width: 100%;
        height: 100%;
        position: relative;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;

       
        @media (max-width: 1024px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    .close-button {
        position: absolute;
        cursor: pointer;
        right: 20px;
    }

    @media (max-width: 1024px) {
        padding-left: 15px;
    }
}

