<div class="service-details" #details [ngClass]="{'active': (isActive$ | async)}">
    @if (selectedService$ | async; as service) {
    <div class="icon-container">{{ service.icon }}</div>
    <h3>{{ service.label }}</h3>
    <fa-icon [icon]="faTimes" (click)="onCloseClick()" class="close-button" />
    <div class="service-content">
        <h5 class="description">{{ service.intro }}</h5>
        <ul>
            @for (item of service.allServices; track item.id) {
            <li>
                <!-- <FaCheckCircle
                    size="{20}"
                    class="service-list-icon"
                ></FaCheckCircle> -->
                <h6>
                    {{ item.title }} - <span>{{ item.description }}</span>
                </h6>
            </li>
            }
        </ul>
    </div>
    }
</div>
