<div class="contact-section">
  <h3 class="section-header">Контакти</h3>
  <div class="content">
    <!-- <GoogleMaps /> IMPORT GOOGLE MAPS -->
    <div class="contact-details">
      <div class="contact-header">
        <h3>Свържете се с нас</h3>
        <p>
          Ние сме тук за да помогнем! Ако имате някакви въпроси или обратна
          връзка, можете да се свържете с нас на посочените по долу контакти за
          връзка.
        </p>
      </div>
      <!-- <ul class="contacts">
        {CONTACT_ITEMS.map(({ Icon, text }, index) => (
        <li class="contacts-item" key="{index}">
          <Icon></Icon>
          <p>{text}</p>
        </li>
        ))}
      </ul>
      <p class="copyright">
        &copy; {new Date().getFullYear()} Avtosense | All rights reserved
      </p> -->
    </div>
  </div>
</div>
