<div class="contact-section">
    <h3 class="section-header">Контакти</h3>
    <div class="content">
        <google-map class="google-map" [center]="coordinates">
          <map-marker [position]='coordinates'></map-marker>
        </google-map>
        <div class="contact-details">
            <div class="contact-header">
                <h3>Свържете се с нас</h3>
                <p>
                    Ние сме тук за да помогнем! Ако имате някакви въпроси или
                    обратна връзка, можете да се свържете с нас на посочените по
                    долу контакти за връзка.
                </p>
            </div>
            <ul class="contacts">
              @for(contact of contacts; track contact.id) {
                <li class="contacts-item">
                  <svg class="contact-img">
                    <use
                        [attr.xlink:href]="
                            'assets/' + contact.icon + '.svg#' + contact.icon
                        "
                    ></use>
                </svg>
                  <p>{{contact.text}}</p>
                </li>
              }
      </ul>
      <p class="copyright">
        &copy; {{date}} Avtosense | All rights reserved
      </p>
        </div>
    </div>
</div>
